<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carta Resto</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>



    <div class="index-contenedor">

        <header class="index-header">
            <h1>Nuestro Restó <br> Carta</h1>
            <nav class="index-header-nav">
                <ul class="index-header-nav-ul">
                    <li><a href="#">Entradas</a></li>
                    <li><a href="">Platos principales</a></li>
                    <li><a href="">Ensaladas</a></li>
                    <li><a href="">Raws</a></li>
                    <li><a href="">Postres</a></li>
                    <li><a href="">Desayuno y <br>Meriendas</a></li>
                    <li><a href="">Bebidas</a></li>
                    <li><a href="">Smoothies</a></li>
                    <li><a href="">Té y café</a></li>
                    <li><a href="">Vinos</a></li>
                    <li><a href="">Cervezas</a></li>
                </ul>
            </nav>

        </header>





        <main class="index-main">

            <h2>Entradas</h2>

            <div class="index-main-contenedor">
                <img src="/img/foto-entradas.jpg" alt="">

                <div class="index-entradas">
                    <h3>Muzarrella Sticks</h3>
                    <p>Bastones de muzzarella rebozados</p>

                    <h3>Muzarrella Sticks</h3>
                    <p>Bastones de muzzarella rebozados</p>

                    <h3>Muzarrella Sticks</h3>
                    <p>Bastones de muzzarella rebozados</p>

                    <h3>Muzarrella Sticks</h3>
                    <p>Bastones de muzzarella rebozados</p>

                    <h3>Muzarrella Sticks</h3>
                    <p>Bastones de muzzarella rebozados</p>

                    <h3>Muzarrella Sticks</h3>
                    <p>Bastones de muzzarella rebozados</p>

                    <h3>Muzarrella Sticks</h3>
                    <p>Bastones de muzzarella rebozados</p>

                    <h3>Muzarrella Sticks</h3>
                    <p>Bastones de muzzarella rebozados</p>

                    <h3>Muzarrella Sticks</h3>
                    <p>Bastones de muzzarella rebozados</p>

                    <h3>Muzarrella Sticks</h3>
                    <p>Bastones de muzzarella rebozados</p>

                    <h3>Muzarrella Sticks</h3>
                    <p>Bastones de muzzarella rebozados</p>

                    <h3>Muzarrella Sticks</h3>
                    <p>Bastones de muzzarella rebozados</p>

                    <h3>Muzarrella Sticks</h3>
                    <p>Bastones de muzzarella rebozados</p>
                    <a href="#">Volver arriba</a>
                    
                </div>
                
            </div>


        </main>
    </div>


    <footer>

        <img src="/img/logo-web.png" alt="">

        <div class="index-contacto">
            <h4>Contacto</h4>
            <a href="">
                facebook
            </a>
            <a href="">
                twitter
            </a>
            <a href="">
                instagram
            </a>
        </div>

    </footer>
</body>

</html>